@model CarScope.Models.BankWithDrawal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BankWithDrawal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccNo" class="control-label"></label>
                <input asp-for="AccNo" class="form-control" />
                <span asp-validation-for="AccNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Narration" class="control-label"></label>
                <input asp-for="Narration" class="form-control" />
                <span asp-validation-for="Narration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
